asgiref
certifi
chardet
defusedxml
Django
django-allauth
django-mysql
django-rest-auth
djangorestframework
djangorestframework-jwt
idna
oauthlib
Pillow
PyJWT
python3-openid
pytz
requests
requests-oauthlib
six
sqlparse
urllib3