{% load static %}
<html lang="pt">
    <head>
        <title>Confirmação de redefinição de senha iTexas</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    </head>
    <body>
        <div class="login-panel">
            <div>
                <h3>Enter new password</h3>
            </div>
            <div>
                <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
            </div>
            <div>
                <form method="post">
                    {% csrf_token %}
                    {{form}}
                    <input type="Submit" name="Update Password">
                </form>
            </div>
        </div>
    </body>
</html>